<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Edit Page</h1>
    <form action="/mindful/<%= mindful.id %>?_method=PUT" method="POST">
        <fieldset>
            <label for="date">Date:</label>
            <input id="date" type="text" name="date" value="<%= mindful.date%>">
        </fieldset>
        <fieldset>
            <label for="beforeMovement">Mindset before Movement: </label>
            <input id="beforeMovement" type="text" name="beforeMovement" value="<%=mindful.beforeMovement%>">
        </fieldset>
        <fieldset>
            <label for="water">Water Consumption Goals of the Day: </label>
            <input id="water" type="number" name="water" value="<%=mindful.water%>">
        </fieldset>
        <fieldset>
            <label for="sleep">Amount of sleep:</label>
            <input id="sleep" type="number" name="sleep" value="<%=mindful.sleep%>">
        </fieldset>
        <fieldset>
            <label for="movement">How did you move your body today? </label>
            <input id="movement" type="text" name="movement" value="<%=mindful.movement%>">
        </fieldset>
        <fieldset>
            <label for="afterMovement">Mindset after Movement: </label>
            <input id="afterMovement" type="text" name="afterMovement" value="<%=mindful.afterMovement%>">
        </fieldset>
        <fieldset>
            <label for="positiveEvent">What is something positive that happened today? </label>
            <input id="positiveEvent" type="text" name="positiveEvent"  value="<%=mindful.positiveEvent%>">
        </fieldset>
        <br>
        <br>
        <br>
        <input type="submit" name="" value="Submit Changes"/>
    </form>
    <br>
    <a href="/mindful/index">List of Events (index)</a>
</body>
</html>