<header class="editHeader">
<%- include('./partials/header.ejs') %>
<h1 class="h1Edit">Mindful<img id="newHeaderImg" src="https://images.freeimages.com/images/large-previews/f65/succulent-3-1174084.jpg" alt=""></h1></h1>
<a href="/mindful/index">List of Events (index)</a>
</header>
    
    <div class="editContainer">
    <form action="/mindful/<%= mindful.id %>?_method=PUT" method="POST">
        <fieldset>
            <label for="date">Date:</label>
            <input id="date" type="text" name="date" value="<%=mindful.date%>">
        </fieldset>
        <fieldset>
            <label for="beforeMovement">Mindset before Movement: </label>
            <input id="beforeMovement" type="text" name="beforeMovement" value="<%=mindful.beforeMovement%>">
        </fieldset>
        <fieldset>
            <label for="water">Water Consumption Goals of the Day: </label>
            <input id="water" type="number" name="water" value="<%=mindful.water%>">
        </fieldset>
        <fieldset>
            <label for="sleep">Amount of sleep:</label>
            <input id="sleep" type="number" name="sleep" value="<%=mindful.sleep%>">
        </fieldset>
        <fieldset>
            <label for="movement">How did you move your body today? </label>
            <input id="movement" type="text" name="movement" value="<%=mindful.movement%>">
        </fieldset>
        <fieldset>
            <label for="afterMovement">Mindset after Movement: </label>
            <input id="afterMovement" type="text" name="afterMovement" value="<%=mindful.afterMovement%>">
        </fieldset>
        <fieldset>
            <label for="positiveEvent">What is something positive that happened today? </label>
            <input id="positiveEvent" type="text" name="positiveEvent"  value="<%=mindful.positiveEvent%>">
        </fieldset>
        <fieldset>
            <label for="image">Upload a photo: </label>
            <input id="image" type="url" name="image" value="<%=mindful.image%>" > <br>
        </fieldset>
        <br>
         
        <input class="editSubmit" type="submit" name="" value="Submit Changes"/>
    </form>
    <br>
</div>
<footer class="editFooter">
    <%- include('./partials/footer.ejs') %>
</footer>