<header class="indexHeader">
  <%- include('./partials/header.ejs') %>

  <h1 class="h1Index">Mindful <img id="newHeaderImg" src="https://images.freeimages.com/images/large-previews/f65/succulent-3-1174084.jpg" alt=""></h1>

  <a class="indexLink" href="/mindful/new">Add a *new Post</a>
  
</header>



<ul class="indexContainer"> 
  <% for(let i = 0; i < mindful.length; i++){ %>
  <% if(mindful[i].username === user.username) { %> 
  <div class="indexItems">
    <div id="indexDate"> <%= mindful[i].date %></div>
    <a href="/mindful/<%= mindful[i].id %>">
      <img class="indexImage" src="<%=mindful[i].image%>" />
    </a> 
  </div>
  <% } %>
  <% } %> 
</ul>

<footer class="indexFooter"><%- include('./partials/footer.ejs') %></footer>
