<header class="indexHeader">
  <%- include('./partials/header.ejs') %>
  <a href="/mindful/new">Add a *new Post</a>
</header>

<h1 class="h1Index">Calendar of Events</h1>
<div class="indexContainer">
  <ul>
    <% for(let i = 0; i < mindful.length; i++){ %>
    <li>
      <p><%= mindful[i].date %></p>
      <div class="indexItems">
        <a href="/mindful/<%= mindful[i].id %>">
          <img class="indexImage" src="<%=mindful[i].image%>" />
        </a>
      </div>
    </li>
    <% } %>
  </ul>
</div>
<footer class="indexFooter"><%- include('./partials/footer.ejs') %></footer>
