<%- include('./partials/header.ejs') %>
    <a href="/mindful/new">Add a *new Post</a>
 
    <ul>
        <% for(let i = 0; i < mindful.length; i++){ %>
          
            <li>
                <a href="/mindful/<%= mindful[i].id %>"> <%= mindful[i].date %> <%= mindful[i].myPic %> </a>
               <p>  </p> 
               
            </li>
            
       <% } %>
      
    </ul>
 
    <br>
    <br>
    <br>
    
    <%- include('./partials/footer.ejs') %>
