<header class="showHeader">
<%- include('./partials/header.ejs') %>

<h1 class="h1Show"> <%= mindful.date %> <img id="newHeaderImg" src="https://images.freeimages.com/images/large-previews/f65/succulent-3-1174084.jpg" alt=""></h1>

<a class="showLink" href="/mindful/index">List of events (index)</a>
</header>

 <div class="showContainer">   
    <br>
    
    <h3>Mindset before Movement:</h3> <P><%= mindful.beforeMovement %></p>
    <h3>Water Consumption Goals of the Day in ounces:</h3> <p> <%= mindful.water %></p>
    <h3>How much sleep did you get last night in hours?</h3> <p> <%= mindful.sleep %></p>
    <h3>How did you move your body today? </h3> <p> <%= mindful.movement %></p>
    <h3>Mindset after Movement:</h3>  <p> <%= mindful.afterMovement %></p>
    <h3>What is something positive that happened today?</h3>  <p> <%= mindful.positiveEvent %></p>
    <h3 class="showPhoto">Photo of your day: </h3> <img class="showImage" src="<%=mindful.image%>">
</div>
    <br>
    <a class="showEdit" href="/mindful/<%=mindful.id %>/edit">Edit</a>
    <br>
    <br>
    <form class="delete" action="/mindful/<%= mindful.id %>?_method=DELETE" method="POST">
        <input class="deleteButton" type="submit" value="DELETE">
    </form>
    <br>
    <br>
    <br>

<footer class="showFooter">
    <%- include('./partials/footer.ejs') %>
</footer>