<%- include('./partials/header.ejs') %>

    <a href="/mindful/index">List of events (index)</a>
    <br>
    <h1>Today's Date: <%= mindful.date %></h1>
    <h3>Mindset before Movement:</h3> <P><%= mindful.beforeMovement %></p>
    <h3>Water Consumption Goals of the Day:</h3> <p> <%= mindful.water %></p>
    <h3>How much sleep did you get last night?</h3> <p> <%= mindful.sleep %></p>
    <h3>How did you move your body today? </h3> <p> <%= mindful.movement %></p>
    <h3>Mindset after Movement:</h3>  <p> <%= mindful.afterMovement %></p>
    <h3>What is something positive that happened today?</h3>  <p> <%= mindful.positiveEvent %></p>
    <br>
    <a class="showEdit" href="/mindful/<%=mindful.id %>/edit">Edit</a>
    <br>
    <br>
    <form class="delete" action="/mindful/<%= mindful.id %>?_method=DELETE" method="POST">
        <input class="deleteButton" type="submit" value="DELETE">
    </form>
    <br>
    <br>
    <br>


    <%- include('./partials/footer.ejs') %>