<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <a href="/mindful">List of events (index)</a>
    <br>
    <h1><%= mindful.date %></h1>
    <h2><%= mindful.name %></h1>
    <p><%= mindful.beforeActivity %></p>
    <p><%= mindful.afterActivity %></p>
    <p><%= mindful.water %></p>
    <p><%= mindful.sleep %></p>
    <p><%= mindful.positiveEvent %></p>

    <br>
    <br>
    <form class="delete" action="/mindful/<%= mindful.id%>?_method=DELETE" method="POST">
        <input class="deleteButton" type="submit" value="DELETE">
    </form>
</body>
</html>